body{

    background-image: url("../public/737474.png");
    background-repeat: no-repeat;
    background-position-x:center;

    font-family: Arial, Helvetica, sans-serif;

    
}

  #root {
    margin: 0 24px;
    position: relative;
    min-height: 100vh;
  }

